* {
    margin: 0; 
    padding: 0;
}



.Container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-template-areas: 
    "nav"
    "form";
}

nav {
    background-color: var(--accent-color);
    grid-area: nav;
    display: flex;
    box-shadow: 0 5px 25px black;
    align-items: center;
}

nav ul {
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

nav div {
    margin-right: auto;
}

nav ul a {
    padding: 5px 10px ;
    text-decoration: none;
    color: black;
}

main {
    background-color: #000080;
}

form {
    justify-self: center;
    grid-area: form;
    display: flex;
    flex-direction: column;
    width: 490px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid #ffffff80;
    backdrop-filter: blur (8px);
}



.input-field {
position: relative;
border-bottom: 2px solid #ccc;
margin: 15px 0;
}

.input-field label {
position: absolute;
color: #fff;
top: 50%;
left: 0;
transform: translateY(-50%);
font-size: 16px;
pointer-events: none;
transition: 0.15s ease;
}

.input-field input {
    width: 100%;
    height: 40px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}

.input-field input:focus~label,
.input-field input:valid~label {
    font-size: 0.8rem;
top: 10px;
transform: translateY(-120%);
}

.forget {
display: flex;
align-items: center;
justify-content: space-between;
margin: 25px 0 35px 0;
color: #fff;
}

#remember {
accent-color: #fff;
}

.forget label {
    display: flex;
    align-items: center;
}

.forget label p {
    margin-left: 8px;
}

.wrapper a{
    color: #efefef;
    text-decoration: underline;
}

button {
    background: #fff;
    color: #000;
    font-weight: 600;
    border:none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.register {
    text-align: center;
    margin-top: 30px;
    color: #fff;
}